<%- include('../../layout/header.ejs'); %>

<h1>I'm News list</h1>

<button class="btn-floating btn-large waves-effect waves-light primary"><i
        class="material-icons">add</i></button>

<%- include('../../layout/footer.ejs'); %>