<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="../../css/libs.min.css" />
    <link type="text/css" rel="stylesheet" href="../../css/styles.css">
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon.ico" /> 

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRM</title>
</head>

<body>